.blockfloat-block {
    background: none repeat scroll 0 0 #000;
    color: white;
    left: 0;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    z-index: 1665;
}
.blockfloat-block ul, .blockfloat-block li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.blockfloat-block li {
    display: inline-block;
}
.blockfloat-block li:after {
    content: " | ";
}
.blockfloat-block li.last:after {
    content: "";
}
.blockfloat-block a {
    color: white;
    text-decoration: none;
}
.blockfloat-block a:hover {
    text-decoration: underline;
}
.blockfloat-block li.first a {
    font-size: 18px;
}

.blockfloat-block li a.active {
  color: #fff;
  text-decoration: underline;
}

body.admin-menu #block-menu-menu-dashboard {
  top: 30px;
  z-index: 999;
}